__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
static/*.png
static/*.jpg
static/*.jpeg
*.log
CRITICAL_ERROR.txt
server_error.log
server_debug.log
.DS_Store
.vscode/
.idea/
